/*navbar styling*/
.boxnav {
	background-color: #1e88e5;
}

a.navbar-brand {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	border: 1px solid white;
	font-size: 2em;
}

span.icon-bar {
	background-color: white;
	border: 1px solid white;
}

.navbar-nav li a {
 line-height: 50px;
 color: white;
 font-family: 'Open Sans', sans-serif;
 font-size: 1.2em;
}

.btn.checkout-button {
	background-color: #ee6e73;
	color: white;
	height: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

.btn.about-button {
	background-color: #1e88e5;
	color: white;
	height: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

/*store front*/

.store {
	background-color: #D6C995;
	padding-top: 80px;
	padding-left: 10px;
	padding-right: 10px;
}

.itemImage.thumbnail {
  height: 200px;
}

.itemImage.thumbnail img {
  height: 100%;
}

.caption {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
}

.view-cart-btn {
	float:right;
	margin-right:0.5em;
}

.cart {
	height:100%;
	position: fixed;
	width: 30em;
	z-index: 1001;
	right:0px;
	top:60px;
	background-color: #EEE;
	padding: 20px;
	display: none;
}

.inventory {
	padding-top: 20px;
	height: 80%;
}

.checkout-container {
	height: 15%;
	width: 100%;
}

#checkout-btn {
	width:16em;
	display: block;
	margin: 0 auto;
}

table.summary {
	width: 100%;
	border-top: 1px solid black;
}

.modal-overlay {
	display: none;
	position: fixed;
	z-index: 40000;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.7);
}


.sign-in-up-modal {
	position: absolute;
	width: 500px;
	height: 500px;
	margin: -250px 0 0 -250px;
	left: 50%;
	top: 50%;
	z-index: 50000;
	background: rgb(200,200,200);
	padding: 30px;

}

.sign-up-container {
	display: none;
}

.exit-modal {
	position: absolute;
	right: 4px;
	top: 4px;
}

.about-body p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

.modal-header {
	background-color: #1e88e5;
}

.modal-footer {
	background-color: #1e88e5;
}
.modal-title {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: white;
}

#registration_errors {
	color: red;
}

#sign_in_errors {
	color: red;
}

.checkout-banner {
	padding-top: 120px;
	padding-bottom: 30px;
	text-align: center;
	background-color: black;
	color: white;
	font-size: 1em;
}

.checkout-content h3 {
	text-align: center;
}

.checkout-content {
	width: 50%;
	margin: 0 auto;
}

table.box-info {
	float: left;
	width: 45%;
}

.delivery_form {
	width: 45%;
	float: right;
}

.payment-button {
	clear: both;
	padding-top: 10px;
	text-align: center;
}