/*navbar styling*/
.boxnav {
	background-color: #1e88e5;
}

a.navbar-brand {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	border: 1px solid white;
	font-size: 2em;
}

span.icon-bar {
	background-color: white;
	border: 1px solid white;
}

.navbar-nav li a {
 line-height: 50px;
 color: white;
 font-family: 'Open Sans', sans-serif;
 font-size: 1.2em;
}

.btn.checkout-button {
	background-color: #ee6e73;
	color: white;
	height: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

.btn.about-button {
	background-color: #1e88e5;
	color: white;
	height: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

/*store front*/

.store {
	background-color: white;
	padding: 80px 30px 0 30px;
}

.itemImage.thumbnail {
  height: 200px;
  position: relative;
  margin: 0;
  padding: 0;
}

.item h3 {
	text-align: center;
	padding: 5px;
}

.itemImage.thumbnail img {
  height: 100%;
}

.store-btn {
	width: 50%;
	margin: 0;
	padding: 0;
}

.item {
	margin-bottom: 70px;

}



.caption {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
}

.itemImage span.price {
	position: absolute;
	font-size: 1.2em;
	background: rgba(0,0,0,0.5);
	color: white;
	padding: 5px;
	top: 0;
	left: 0;
	
}

.item-description {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 40px;
	text-align: center;
	color: white;
	background: rgba(0,0,0,0.7);
}

.item-description:hover {
	opacity: 1;
	display: block;
}

.view-cart-btn {
	float:right;
	margin-right:0.5em;
}



.cart {
	height:100%;
	position: fixed;
	width: 30em;
	z-index: 1001;
	right:0px;
	top:50px;
	background-color: #EEE;
	padding: 20px;
	display: none;
}

.inventory {
	padding-top: 20px;
	height: 80%;
}

.checkout-container {
	height: 15%;
	width: 100%;
}

#checkout-btn {
	width:16em;
	display: block;
	margin: 0 auto;
}

table.summary {
	width: 100%;
	border-top: 1px solid black;
}

.modal-overlay {
	display: none;
	position: fixed;
	z-index: 40000;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.7);
}


.sign-in-up-modal {
	position: absolute;
	width: 500px;
	height: 500px;
	margin: -250px 0 0 -250px;
	left: 50%;
	top: 50%;
	z-index: 50000;
	background: rgb(200,200,200);
	padding: 30px;

}

.sign-up-container {
	display: none;
}

.exit-modal {
	position: absolute;
	right: 4px;
	top: 4px;
}

.about-body p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

.modal-header {
	background-color: #1e88e5;
}

.modal-footer {
	background-color: #1e88e5;
}
.modal-title {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: white;
}

#registration_errors {
	color: red;
}

#sign_in_errors {
	color: red;
}