// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store {
  border: 1px solid red;
}

.item {
  border: 1px solid blue;
}

.itemImage {
  height: 200px;
}
.itemImage img {
  border: 1px solid green;
  height: 100%;
}