<div class="confirm">
  <h2>Thank you for ordering from Boxable. You paid <strong>$<%= @total %></strong>!</h2>
  <h3>Your care package will be sent in about 5-7 days.</h3>
  <a href="/">Return to store</a>
</div>
